<h1>Úprava Údajů o Dobrovolníkovi</h1>

<%= render 'form', volunteer: @volunteer %>

<%= link_to 'Show', @volunteer, class:"btn btn-secondary" %> |
<%= link_to 'Back', volunteers_path, class:"btn btn-secondary" %>
