<br>
<center><h1>Ahoj, jsme tu, abychom Vám pomohli</h1></center>
<br>
<br>
<div calss = "container">
    <center>
        <%= button_to "Zadat žádost", home_form_path, class:"btn btn-primary" ,:method => "get" %>
    </center>
</div>
