<br>
<center><h1>Ahoj, jsme tu, abychom Vám pomohli</h1></center>
<br>
<br>
<div class = "container">
    <center>
        <%= link_to "Chci pomáhat", new_volunteer_path ,class:"btn btn-secondary"%>
        <br>
        <br>
        <%= link_to "Potřebuji pomoci", new_order_path ,class:"btn btn-secondary"%>
        <br>
        <br>
        <%= link_to "Založit si klientský účet", new_client_path ,class:"btn btn-secondary"%>
    </center>
</div>