<br>
<center><h1>Ahoj, jsme tu, abychom Vám pomohli</h1></center>
<br>
<br>
<div class = "container">
    <center>
        <%= button_to "Chci pomáhat", new_volunteer_path, class:"btn btn-primary" ,:method => "get" %>
    </center>
</div>